.button {
  font: inherit;
  border: 1px solid #333;
  background: #333;
  color: white;
  padding: 0.50rem 1rem;
  cursor: pointer;
}

/* .button:hover,
.button:active {
} */

.button:focus {
  outline: none;
}
