.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #52796F;
  border: 1px solid #52796F;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #354f52;
  border-color: #354f52;
}
