@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;
  color: #ebe7ef;
  background: radial-gradient(#0d1b2a, #1b263b);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  min-height: 80rem;
}

header {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  text-align: center;
}

header img {
  width: 7rem;
}

header h1 {
  margin: 0;
  font-size: 1.5rem;
}

header p {
  margin: 0;
}

#concepts {
  max-width: 100%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.concept {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  /* background: linear-gradient(#250358, #440c66); */
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  padding: 1.5rem;
  border-radius: 6px;
  /* box-shadow: 0 2px 20px rgba(234, 78, 240, 0.2); */
  width: 70%;
  transition: all 0.2s
}

.concept:hover {
  transform: translateY(-2px);
  transition: transform 0.2s;
  box-shadow: 0 2px 30px rgba(234, 78, 240, 0.4);
}

.concept img {
  width: 6rem;
  height: 5rem;
  object-fit: contain;
}

.concept h2 {
  margin: 0;
  font-size: 1rem;
  text-transform: uppercase;
}

.concept p {
  margin: 0;
  text-align: center;
  font-size: 0.85rem;
}